.horizontal {
  display: flex;
  justify-items: center;
  width: 100%;
}

.vertical {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.likesValue {
  display:flex;
  flex-direction: row;
  align-items: center;
}

.likeButton {
  transform: scale(0.75)
}