.toolbar {
  display: flex;
  justify-content: space-between;
}

.redditLogo {
  display: flex;
  flex: 2;
}

.redditIcon {
  margin-right: 10px;
}

.newPostButtonContainer {
  display: flex;
  flex: 1;
  width: 150px;
}

.searchInput {
  width:100%;
  padding: 1%;
}

.redditTypography {
  margin-right: 10px !important;
}

.signUp {
  flex: 2;
  display: flex;
  justify-content: flex-end;
}

.button {
  margin-right: 10px !important;
  margin-left: 10px !important;
}

.accountMenu {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.hidden {
  display: none;
}